:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* custom colors */
  --matcha: #809671;
  --almond: #E5E0D8;
  --pistache: #B3B792;
  --chai: #D2AB80;
  --carob: #725C3A;
  --vanilla: #E5D2B8;
}

:root[data-theme="dark"] {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --footer-text-color: rgb(68, 68, 68);
  --button-bg: transparent;
  --component: var(--matcha);
  --component-alt: var(--almond);
}

:root[data-theme="light"] {
  --text-color: #213547;
  --bg-color: #E5E0D8;
  --link-color: #646cff;
  --link-hover-color: #747bff;
  --footer-text-color: rgb(68, 68, 68);
  --button-bg: #f9f9f9;
  --component: var(--carob);
  --component-alt: var(--vanilla);
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.material-symbols-rounded {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' -25,
    'opsz' 48;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header span {
  font-size: 3em;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  overflow-x: hidden; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer-text {
  font-size: smaller;
  color: var(--footer-text-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  background: var(--button-bg);
  border: none;
  cursor: pointer;
  outline: none;
}

.footer-text {
  font-size: smaller;
  color: var(--footer-text-color);
}

h1 {
  font-size: 1.5em;
  line-height: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
