.audio-player {
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 6.5em;
}

.mute-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--component);
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s;
}

.volume-slider {
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background: var(--component);
  outline: none;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--component);
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--component);
  cursor: pointer;
  border: none;
}