.pomodoro-container {
  margin-top: 8em;
}

.pomodoro-reset {
  cursor: pointer;
}

.pomodoro-reset-icon {
  font-size: 2.25rem;
  color: var(--component);
}

.pomodoro-time {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.pomodoro-time-text {
  margin: 0 auto;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 6rem;
  color: var(--component);
}

.pomodoro-controls button {
  cursor: pointer;
}

.pomodoro-control-icon {
  font-size: 5rem;
  color: var(--component);
}

.pomodoro-status {
  text-align: center;
  font-size: 1.125rem;
  color: #747474;
  margin-top: 1em;
}

.pomodoro-status p {
  margin: 0 auto;
  width: fit-content;
}

.fade-in-delayed {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.fade-out-delayed {
  opacity: 1;
  animation: fadeOut 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}