.progress-root {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 6.2em;
  height: 0.5rem;
  width: 100%;
  overflow: hidden;
  background-color: rgba(128, 150, 113, 0.2);
}

.progress-indicator {
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: #809671;
  transition: all 0.2s;
}

